.kpi {
    display: inline-block;
    width: 150px;
    height: 100px;
    border: 2px solid #ccc;
    text-align: center;
    position: relative;
}
.kpi_din {
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
span.kpi_din__num {
    color: #ccc;
    font-size: 12px;
}

span.kpi_din__arrow.top {
    color: #00ff00;
    font-size: 20px;
    margin-right: 5px;
}

span.kpi_cot__unit {
    color: #ccc;
}

.kpi_item {
    padding: 5px;
}

span.kpi_cot__val {
    margin-right: 5px;
}
.kpi.active{
    border-color: #007;
}
.kpi_wrap {
    display: inline-block;
}
.kpi_container {
    margin-top: 15px;
}