<!doctype html>
<html lang="ru" ng-app="main">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container" main-directive  ng-controller="mainCtrl as ctrl">
    <div class="form_back" ng-click="ctrl.setKpiData(kpiModel);"></div>
    <div class="form_wrap hidden">
        <div class="form_header">Форма редактирования kpi</div>
        <form>
            <input ng-model="kpiModel.name" name="kpi_name" type="text" placeholder="{{changeKpiData.name}}">
            <input ng-model="kpiModel.val" name="kpi_val" type="text" placeholder="{{changeKpiData.val}}">
        </form>
    </div>
    <div class="kpi_container first"> </div>
    <div class="kpi_container second"> </div>
</div>
<script src="js/main.js"></script>
</body>
</html>